body {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0;
  box-sizing: border-box;
}
.photoFrame {
  width: 500px;
  height: 500px;
}

canvas {
  border: 1px solid black;
}

#pictures {
  border: 1px solid black;
  width: 500px;
  height: 500px;
  display: flex;
  position: relative;
}

.cropbox {
  position: relative;
  width: 200px;
  height: 150px;
  border: 1px solid black;
  background-color: yellow;
  z-index: 1;
  cursor: pointer;
}

.selectbox {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: blue;
  z-index: 2;
}

.selectbox.lt {
  top: -10px;
  left: -10px;
  cursor: nw-resize;
}
.selectbox.rt {
  top: -10px;
  right: -10px;
  cursor: ne-resize;
}
.selectbox.rb {
  bottom: -10px;
  right: -10px;
  cursor: nw-resize;
}
.selectbox.lb {
  bottom: -10px;
  left: -10px;
  cursor: ne-resize;
}

.display-none {
  display: none;
}
