.resizers{
  width: 50px;
  height: 50px;
  border: 3px solid #4286f4;
  box-sizing: border-box; /*이거떄문에 그동안 width가 튀는현상이 나옴*/
  position: absolute;
}

.resizers .resizer{
  width: 10px;
  height: 10px;
  border-radius: 50%; /*사각형에서 원으로 만들기*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizers .resizer.top-left {
  left: -7px;
  top: -7px;
  cursor: nwse-resize;
}
.resizers .resizer.top-right {
  right: -7px;
  top: -7px;
  cursor: nesw-resize;
}
.resizers .resizer.bottom-left {
  left: -7px;
  bottom: -7px;
  cursor: nesw-resize;
}
.resizers .resizer.bottom-right {
  right: -7px;
  bottom: -7px;
  cursor: nwse-resize;
}